---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1 class="mb-2">Moritz</h1>
		<img src="https://imagedelivery.net/JfsbyIUZYacdu7Ymh8jh3A/caf46b02-c65f-4eea-cd42-415bd5adf500/w=500" alt="Moritz" width="500"/>
  </body>
</html>
